html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFD75E;

}
.forsidebillede{
    width: 100%;
    height: 96vh;
    background-size: cover;
    background-attachment: fixed;
}
.logo{
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}
.content{
    width: 75%;
    margin: 4em;
    font-size: 30px;
    line-height: 30px;
    text-align: justify;
}

.wrapper{
    background-color: #FFF9E6;
    width: 75%;
    font-size: 30px;
    line-height: 30px;
    text-align: justify;
    margin: -4em auto 4em;
}

.header1{
    font-family: Georgia;
    font-size: 64px;
}

.header2{
    font-family: Georgia;
    font-size: 32px;
}

.header3{
    font-family: Georgia;
    font-size: 16px;
}

.paragraph{
    font-family: sans-serif;
    font-size: 14px;
}

.article1picture{
    width: 300px;
}
.article1{
    padding-top: 40px;
    display: grid;
    grid-template: 200px / auto auto auto;
}
#article1text{
    margin-left: 20px;
}
.article1button{
    background-color: #B4CD5E;
    text-transform: uppercase;
    color: white;
    padding: 12px;
    margin-left: 78%;
    font-weight: bold;
    letter-spacing: 1.5px;
    border: 0;
}

.article2picture{
    width: 350px;
}
.article2{
    padding-top: 40px;
    display: grid;
    grid-template: 200px / auto auto auto;
}
#article2text{
    margin-right:2%;
}
.article2button{
    background-color: #B4CD5E;
    text-transform: uppercase;
    color: white;
    padding: 12px;
    margin-left: 76%;
    font-weight: bold;
    letter-spacing: 1.5px;
    border: 0;
}

.article3picture{
    width: 400px;
}
.article3{
    padding-top: 40px;
    display: grid;
    grid-template: 200px / auto auto auto;
}
#article3text{
    margin-right: 1%;
}
.article3button{
    background-color: #B4CD5E;
    text-transform: uppercase;
    color: white;
    padding: 12px;
    margin-left: 74%;
    margin-top: 4%;
    font-weight: bold;
    letter-spacing: 1.5px;
    border: 0;
}

footer{
    display: inline-block;
    width: 80%;
    margin-top: 40px;

}


.footer-content {
    display: flex;
    justify-content: center;
    margin-left: 120px;
    margin-right: -120px;
    background-color: #FFF9E6;
    padding-top: 20px;
    padding-bottom: 20px;

}

.facebook img {
    width: 50px;
    height: 50px;
}

.facebook {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.instagram {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram img {
    width: 50px;
    height: 50px;
}

.logo img {
    width: 200px;
    height: 200px;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}

li {
    padding: 5px 10px;
    list-style: none;
    font-weight: 300;
    font-size: 16px;
    font-family: Inter, sans-serif;
    text-decoration: none;
}

.li-nav:hover {
    background-color: #FFD75E;
    border-radius: 2px;
    transition-duration: .3s;
}


.li-nav:active {
    background-color: #de2525;
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    padding: 5px 10px;
    list-style: none;
    font-weight: 300;
    font-size: 16px;
    font-family: Inter, sans-serif;
    color: #131313;
    margin-top: -10px;
    margin-bottom: -10px;
}

.caption {
    font-size: 10px;
    margin-top: -15px;
    margin-bottom: 20px;
}

.big-images {
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.navigation {
    display: flex;
    justify-content: center;
    width: 55%;
    margin-right: 40px;

}
.socials {
    display: flex;
    flex-direction: row-reverse;
}
a button:hover {
    cursor: pointer;
}


.second-small-section-box{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 60px;
    margin-bottom: 30px;
}
.logo-nav {
    width: 150px;
    height: auto;
    display: flex;
    justify-content: center;
}
.img-section1{
    height: 28%;
    width: 100%;
    padding-bottom: 30%;
    background: url("../images/20190920-194800-7_23mb.jpeg") ;
    background-size: cover;
}

.card1{
    width: 375px;
    height: 610px;
    background: #FFD75E;
    border-radius: 5px;
    text-align: center;
    flex-direction: row-reverse;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-bottom: 2%;

}

.info1{
    color: black;
    padding-top: 10%
}
.hvadermadspilknap{
    background-color: #B4CD5E;
    text-transform: uppercase;
    color: white;
    padding: 12px;
    font-weight: bold;
    letter-spacing: 1.5px;
    border: 0;
}

@media (min-width: 1140px) {
    .card1{
        height: 25rem;
        width: 60rem;
        display: flex;
        flex-direction: row-reverse;
    }
}

.img-section2{
    height: 28%;
    width: 100%;
    padding-bottom: 30%;
    background: url("../images/2400_Hvorfor-er-madspild-et-problem_gammel_mad.jpeg") ;
    background-size: cover;
}

.img-section3{
    height: 28%;
    width: 100%;
    padding-bottom: 30%;
    background: url("../images/18752860-topbillede.jpeg");
    background-size: cover;
    background-position-x: -100px;
}
.header2artikel3{
    margin: auto;
    font-family: Georgia;
    font-size: 32px;
}
.fact1{
    width: 500px;
    margin-bottom: 10%;
    padding: 10px;
    background: #FFD75E;

}
.fact1billede{
    background-size: cover;

}
#fact1tekst{
    font-size: 19px;
    font-family: sans-serif;
}
#fact2tekst{
    font-size: 15px;
    font-family: sans-serif;
}
.fact2{
    width: 336px;
    margin-bottom: 3%;
    margin-right: 5%;
    padding: 10px;
    background: #FFD75E;
}
#fact2tekst2{
    font-size: 15px;
    background-color: #FFC107;
    font-family: sans-serif;
    padding: 5px;
}
.fact3{
    width: 552px;
    margin-bottom: 10%;
    padding: 10px;
    background: #FFD75E;
}
#fact3tekst{
    font-size: 19px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}
#fact3tekst3{
    font-size: 15px;
    background-color: #FFC107;
    font-family: sans-serif;
    padding: 5px;
}
.fact4{
    width: 500px;
    margin-bottom: 10%;
    margin-left: 1%;
    padding: 10px;
    background: #FFD75E;
}
#fact4tekst{
    font-size: 18px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}
#fact4tekst4{
    font-size: 15px;
    background-color: #FFC107;
    font-family: sans-serif;
    padding: 5px;
}

#article4text{
    margin-right: 1%;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}


input[type=submit] {
    background-color: #B4CD5E;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}

.FormContainer {
    border-radius: 5px;
    background-color: #FFC107;
    padding: 20px;
}

.header1Nyhedsbrev{
    padding: 3px;
}

#factsHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}
#artiklerHeader{
    padding-top: 40%;
}